<%= form_with scope: :bike, url: bikes_path, local: true do |form| %>
  <p>
    <%= form.label :'Bike Name' %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>